.card{
    margin: 10px;
    font-size: 15px;
    text-align: justify;
}
strong {
    margin: 10px;
}
.modal-title{
    width: 100%;
    font-size: 40px;
}

#x-button{
    float: right;
}

.descbox
{
    margin-left: 5px;
}